<div class="card">
    <img src="https://mohitbhata12.github.io/Coders/images/img-2.jpg" class="card-img-top card-img-thumbnail" alt="img">
    <div class="card-body">
    <h3 class="card-title">About Me</h3>
    <p class="card-text">Hello there, My name is Mohit Bhatia. I am a student of Btech in Computer Science and Engineering form Galgotias University, Greater Noida and I am a student developer I do love to code and I'm heading towards to implement new ideas in real life. I do love to code in the dark Mode.
        I am always ready for offers regarding internships and freelancer jobs and always ready to take challenges in life.            
        </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>